@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

#init-game {
    width: 350px;
    height: 150px;
    /* color: brown; */
    position: absolute;
    top: 40%;
    right: 40%;
    font-family: 'Pixel';
    font-size: 70pt;
    z-index: 100;
    text-align: center;
    background-color: black;
}

.btn-init {
    background-color: brown;
}

.init-disable {
    display: none;
}

.end-game {
    display: none;
}

.end-restart {
    border-radius: 5px;
    display: block;
    z-index: 100;
    width: 350px;
    height: 200px;
    /* color: brown; */
    position: absolute;
    top: 40%;
    right: 40%;
    font-family: 'Oswald';
    font-size: 50pt;
    z-index: 100;
    text-align: center;
    background-color: black;
}

.btn-res {
    margin: 0;
    width: 150px;
    height: 40px;
}